//
// Animatioms
// --------------------------------------------------

$gray-light:      #ededed;
$gray:            #d1d1d1;
$gray-dark:       #bbbbbb;
$red:             #cc0000;
$red-dark:        #a30000;
$blue:            #39a5dc;

$z-index-login:   6000;
$z-index-header:  5000;
$z-index-list:    1000;
$z-index-detail:  2000;





// =============================
// Reset
// =============================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $gray-light;
  height: 100vh;
}




// =============================
// Box base
// =============================
.box {
  width: 100%;
  min-height: 1em;
  // background: yellow;
}

.box--red { background:          $red;        }
.box--red-dark { background:     $red-dark;   }
.box--gray { background:         $gray;       }
.box--gray-dark{ background:     $gray-dark;  }
.box--gray-light { background:   $gray-light; }
.box--white { background:        white;       }

.box--circle { border-radius: 50%; }

.box--square { padding-top: 100%; }




// =============================
// Login/ Home
// =============================

.home__top-bg, .home__bottom-bg, .home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.home {
  background: white;
  position: fixed;
  z-index: $z-index-login;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .box--circle {
    width: 12em;
    height: 12em;
    z-index: 999999999;
  }
}

.home__top-bg {
  background-image: linear-gradient(135deg, $red, $red 50%, transparent 50% );
  // transform: translateY(-12em);
}

.home__bottom-bg {
  background-image: linear-gradient(135deg, transparent, transparent 50%, $gray-light 50% );
  transform: translateY(28em);
}





// =============================
// header
// =============================

header {
  position: fixed;
  width: 100%;
  z-index: $z-index-header;
  animation: header-slide-down .2s ease-out;
  background: $red-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  min-height: 3.5em;
  .box {
    width: 9em;
    height: 1em;
    margin-right: .5em;
    animation: header-fade-in .2s ease-in forwards;
    animation-delay: .3s;
    filter: opacity(0)
  }
  .box--circle {
    animation-delay: .2s;
    width: 2em;
    height: 2em;
  }
  nav {
    background-image: linear-gradient(135deg, transparent, transparent 2.5em,  $red 2.5em);
    display: flex;
    align-self: stretch;
    align-items: center;
    color: white;
    padding: 0em 1em 0em 4.4em;
    animation: header-slide-right .2s ease-out forwards;
    filter: opacity(0);
    animation-delay: .4s;
  }
}

.brand {
  display: flex;
  align-items: center;
}


// These are just placeholder animations, they should be transform into transitions (probably)
@keyframes header-slide-down {
  from {
    transform: translateY(-4em);
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes header-fade-in {
  to {
    filter: opacity(1);
  }
}

@keyframes header-slide-right {
  from {
    transform: translateX(4em);
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}





// =============================
// Main
// =============================

main {
  padding: 4.5em 1.5em 0em 1.5em ;
}




// =============================
// List view: Cards
// =============================

.list {
  position: fixed;
  right: 0;
  left: 0;
  top: 3.5em;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 1em;
  z-index: $z-index-list;
}

.card {
  border-radius: .3em;
  padding: 1.5em;
  margin-bottom: 1em;
  .box {
    margin-bottom: .5em;
    &:last-of-type {
      margin: 0;
    }
  }
  .box--gray-dark {
    height: 2em;
  }
}





// =============================
// Detail view
// =============================

.detail {

  display: none;

  background: $gray-light;
  position: absolute;
  top: 3.5em;
  left: 0;
  height: calc(100vh - 3.5em);
  right: 0;
  z-index: $z-index-detail;
}

.detail__header {
  background: white;
  padding: 2.5em 1.5em;
  .box {
    margin-bottom: .5em;
    &:first-of-type {
      min-height: 3em;
    }
    &:last-of-type {
      margin: 2em 0 0 0;
    }
  }
}

.detail__body {
  nav{
    background: $gray-light;
    position: sticky;
    top: 3.5em;
    z-index: $z-index-detail;
  }
  ul{
    margin: 0;
    list-style: none;
    display: flex;
  }
  li {
    flex: 1 1 auto;
    display: flex;
    min-height: 6em;
    a {
      display: flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
    .box {
      width: 2em;
      height: 2em;
    }
    .active {
      background-image: linear-gradient(to bottom, $blue, $blue 5px, transparent 5px);
      .box {
        transform: scale(1.8);
      }
    }
  }
}

.detail__content {
  background: $gray-light;
  padding: 1.5em;
  position: relative;
  .box {
    margin-bottom: 1em;
  }
}


// Detail view: Overlay

.overlay {
  background: white;
  position: absolute;
  z-index: $z-index-list;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  // transform: translateY(100vh);

  display: none;

}

.detail__inner-nav {
  background: white;
  z-index: $z-index-detail;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 6em;
  padding: 1.5em;

  display: none;

  .box {
    margin:0 1em 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
}

.overlay__text {

  display: none;

}

.overlay__thumbnails {
  display: grid;

  // display: none;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em 2em;
  .box {
    padding-top: 100%;
  }
}
